.App {
  text-align: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
  font-size: 35px;
  width: 50% !important
}

.header-title{
  font-family: "papyrus";
  font-weight: 550;
  font-size: 40px;
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
  padding: 1px;
  margin: 4px;
}

.header-title:hover{
  transform: scale(1.015)
}

h1{ 
  background-color: darkcyan;
  padding: 10px;
}

.nav-link{
  list-style-type: none;
  display: flex;
  margin: 20px;
  font-weight: 550;
  font-family: 'papyrus';
}

.nav-link:hover{
  color: white;
  transform: scale(1.05);
}

.header-body{
  height: 75px;
  background-color: lightseagreen;
}

.home-card{
  height: 140px;
  width: 140px;
}

.animal-link{
  height: 250px;
  width: 300px;
  margin: 10px;
  box-shadow: 4px 4px 4px lightcyan;
}

.cat-link{
  height: 250px;
  width: 300px;
  margin: 10px;
  box-shadow: 4px 4px 4px lightcyan;
}

/* .cat-link:hover{ */
  /* transform: rotateY(180deg) */
  
/* } */

.animal-link:hover{
  transform: scale(1.05) 
}

.home-image{
  width: 300px;
  height: 200px;
  padding: 10px;
  border-radius: 20px;
}

.link-button{
  margin: 20px;
}

.link-button-guineapig{
  margin: 70px;
}

.link-button-gerbil{
  margin: 50px;
}

/* .adopt-button{ */
  /* margin: 500px; */
/* } */
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: darkcyan;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: darkcyan;
  color: white;
  transform: rotateY(180deg);
}
















































.auth-link {
  border: 2px solid #000; /* Change the color as needed */
  border-radius: 25px; /* This will give the link a rounded border */
  padding: 10px 20px; /* Add some padding */
  color: #02595c; /* Change the text color as needed */
  background-color: #fff; /* Change the background color as needed */
  text-decoration: none; /* Remove the underline */
  text-align: center; /* Center the text */
}

.auth-link:hover {
  background-color: #0ba1b4; /* Change the hover background color as needed */
  color: #fff; /* Change the hover text color as needed */
}

.center-text {
  text-align: center;
}