.App {
  text-align: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}

h1{ 
  background-color: darkcyan;
  padding: 10px;
}

.nav-link{
  list-style-type: none;
  display: flex;
  margin: 20px;
}

.header-body{
  height: 75px;
  background-color: lightseagreen;
}

.home-card{
  height: 150px;
  width: 150px;
}

.animal-link{
  height: 240px;
  width: 300px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: darkgrey;
  box-shadow: 4px 4px 4px lightseagreen;
}

.animal-link:hover{
  transform: scale(1.05)
  
}

.home-image{
  width: 290px;
  height: 225px;
  padding: 5px;
  border-radius: 10px;
}

.link-button{
  margin: 20px;
}

.link-button-guineapig{
  margin: 70px;
}

.link-button-gerbil{
  margin: 50px;
}

/* .adopt-button{ */
  /* margin: 500px; */
/* } */







