.App {
  text-align: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link{
  list-style-type: none;
  display: flex;
}

.nav-link li {
  margin: 15px;
}